html,
body {
    height: 100%;
    overflow: hidden;
}

#universe {
    background: radial-gradient(#555, #000);
}


@keyframes starFlash {
    form {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

#stars {
    height: 100%;
    background-image: url(stars.png);
    background-size: cover;
    animation: starFlash 1s alternate infinite;
}

@keyframes sunLight {
    from {
        box-shadow: 0 0 45px #f5c91a;
    }

    to {
        box-shadow: 0 0 45px #f5c91a;
    }
}


#sun {
    width: 200px;
    height: 200px;
    background: radial-gradient(#f5c313, #ec7e08);
    position: absolute;
    top: 40%;
    left: 45%;
    margin-left: -100;
    margin-top: -100;
    border-radius: 100px;
    box-shadow: 0 0 45px #f5c91a;
    animation: sunLight 3s alternate infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


#earthOrbit {
    width: 600px;
    height: 600px;
    /* border: 1px solid red;  */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -310px;
    margin-top: -310px;
    border-radius: 100%;
    animation: spin 30s linear infinite;
}

#earth {
    position: absolute;
    margin-top: -60px;
    margin-left: -60px;
    top: 50%;
    animation: spin 15s linear infinite;
}


#moonOrbit {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    /* border: 1px solid red;  */
    position: absolute;
    margin-left: -80px;
    margin-top: -83px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#moon {
    width: 15px;
    height: 15px;
    background: radial-gradient(#ddd, #888);
    border-radius: 50%;
}


#Mercury {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    position: absolute;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 50%;

}

#Venus {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 50%;

}

#Mars {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    position: absolute;
    margin-left: -70px;
    margin-top: 30px;
    border-radius: 50%;


}

#Jupiter {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    position: absolute;
    margin-left: -160px;
    margin-top: 30px;
    border-radius: 50%;

}

#Saturn {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    position: absolute;
    margin-left: -250px;
    margin-top: 30px;
    border-radius: 50%;

}

#Uranus {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    position: absolute;
    margin-left: -350px;
    margin-top: 30px;
    border-radius: 50%;

}

#Neptune {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    position: absolute;
    margin-left: -400px;
    margin-top: 30px;
    border-radius: 50%;
}